In [1]:
a=7
print(a)

7

In [2]:
a=7.9
print(a)
print(type(a))

7.9
<class 'float'>

In [3]:
a=[1,2,3,4,5,6,7,8,9,0]
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
<class 'list'>

In [4]:
a=(1,2,3,4,5,6,7,8,9,0)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
<class 'tuple'>

In [5]:
a=range(1,5)
print(a)
print(type(a))

range(1, 5)
<class 'range'>

In [6]:
a="pavan"
b="pramod"
c="pranav"
d="akash"
e="mouli"
print(a,b,c,d,e)
print(a+b+c+d+e)

pavan pramod pranav akash mouli
pavanpramodpranavakashmouli

In [7]:
a=input()
b=input()
c=a+b
print(a)
print(b)
print(c)

 3
 4

3
4
34

In [8]:
a=input()
b=input()
c=int(a)+int(b)
print(type(a))
print(type(b))
print(type(c))
print(c)

 4
 6

<class 'str'>
<class 'str'>
<class 'int'>
10

In [9]:
a=int(input("cost 1: "))
b=int(input("cost 2: "))
c=a+b
print(c)

cost 1:  30
cost 2:  40

70

In [10]:
a=str(input("enter the first name: "))
b=str(input("enter the last name: "))
c=a+b
print(c,)

enter the first name:  pavan
enter the last name:  kumar

pavankumar

In [11]:
a,b=input("enter the first and last name: ").split()
c=a+b
print(c,)

enter the first and last name:  pavan kumar

pavankumar

In [12]:
a,b=input("enter  the numbers: ").split()
c=int(a)+int(b)
print(c)

enter  the numbers:  1 3

4